*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "open-sans-r";
  src: url("../fonts/OpenSans-Regular.woff") format("woff"),
  url("../fonts/OpenSans-Regular.woff2") format("woff2"),
  url("../fonts/OpenSans-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}
@font-face {
  font-family: "open-sans-r";
  src: url("../fonts/OpenSans-Bold.woff") format("woff"),
  url("../fonts/OpenSans-Bold.woff2") format("woff2"),
  url("../fonts/OpenSans-Bold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: bold; 
}

h1, h2, h3, h4 {
  margin: 0;
  text-transform: uppercase;
}

h3 {
  margin-bottom: 30px;
  font-size: 18px;
  text-align: center;
  line-height: 1;
}
h3::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin: 0 auto;
  margin-top: 12px;
  background: #e1d9bd;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hidden{
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.header-head, .header-heading, .container {
  margin: 0 auto;
  padding: 0 15px;
}

/* popup */
.popup {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
}
.popup-container {
  position: relative;
  margin: auto 0;
  max-width: 390px;
  background: #fff;
  padding: 55px 30px;
}
.popup-form-row {
  margin-bottom: 25px;
}
.popup-form-row:nth-last-child(1){
  margin-bottom: 0;
}
.popup label, .popup span {
  display: block;
  font-size: 13px;
  padding-bottom: 12px;
}
.popup select {
  width: 100%;
  height: 48px;
  margin-bottom: 16px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 13px;
  border: 1px solid #f4f7f6;
  background-color: #f4f7f6;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../images/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 9px 18px;
  color: #939594;
}
.popup select:focus, .popup select:focus-visible, .popup textarea:focus, .popup textarea:focus-visible {
  outline: none;
  border-color: #b59f5b;
}
.radio-group-name {
  display: block;
}
.popup .radio-group {
  display: inline-block;
  margin-right: 35px;
}
.radio {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px);
}
.radio-group .radio-group-text {
  display: inline-block;
  padding-bottom: 0;
}
.radio-group-text::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../images/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25px;
  vertical-align: auto;
  vertical-align: middle;
  margin-right: 5px;
}
.radio:checked ~ .radio-group-text::before {
  background-image: url(../images/form-circle.svg);
}
.popup textarea {
  width: 100%;
  min-height: 130px;
  padding: 18px;
  font-size: 13px;
  border: 1px solid #f4f7f6;
  background-color: #f4f7f6;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.popup-button {
  border: none;
  height: 48px;
  background-color: #b59f5b;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
}
.popup-button:hover {
  background-color: #323232;
}
.popup-close {
  position: absolute;
  right: 0;
  top: 0px;
  width: 32px;
  height: 32px;
  margin-top: -42px;
  }
  .popup-close:before, .popup-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 4px;
  background-color: #fff;
  }
  .popup-close:before {
  transform: rotate(45deg);
  }
  .popup-close:after {
  transform: rotate(-45deg);
  }

/*HEADER*/
.header {
  position: relative;
  background: #000 url(../images/banner-bg.jpg) no-repeat center;
  background-size: cover;
  min-height: 450px;
  padding-top: 26px;
  padding-bottom: 40px;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}
.burger {
  position: absolute;
  top: 30px;
  right: 15px;
  width: 25px;
  z-index: 2;
}
.burger span {
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
}
.header-head {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.header-logo {
  display: block;
  min-width: 179px;
}
.header-nav {
  display: flex;
  gap: 35px;
  font-size: 13px;
}
.header-nav a {
  text-transform: uppercase;
  color: #ffffff;
}
.header-nav a:hover {
  text-decoration: underline;
}

.header-heading {
  position: relative;
  max-width: 730px;
  margin-top: 105px;
  text-align: center;
  color: #fff;
  z-index: 1;
}
.header-heading h1 {
  font-size: 45px;
  line-height: 1.6;
}

/*BODY*/
.container {
  display: flex;
  justify-content: space-between;
  gap: 120px;
  padding-top: 60px;
  padding-bottom: 60px;
}
/*main*/
.posts {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  max-width: 778px;
}
.post {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}
.post-img {
  /* min-width: 381px; */
}
.post-img img {
  width: 100%;
  height: auto;
}
.post-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 20px;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
}
.post-links a {
  color: #b59f5b;
}
.post-links a:hover {
  text-decoration: underline;
}
.post-header {
  margin-bottom: 28px;
}
.post-header a {
  color: #000;
}
.post-header a:hover {
  color: #b59f5b;
}
.post-header h2 {
  font-size: 20px;
  line-height: 1.28;
}
.post-date {
  margin-bottom: 45px;
  font-size: 12px;
}
.post-date time {
  color: #888888;
  margin-right: 8px;
}
.post-date span {
  font-weight: bold;
}
.post-content p {
  margin-bottom: 10px;
  line-height: 1.5;
}

/*right-content*/
.right-content {
  max-width: 272px;
}

.right-content h3 {
  margin-bottom: 30px;
  font-size: 14px;
  text-align: center;
  line-height: 1;
}

.new-posts {
  margin-bottom: 60px;
}
.articles {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.new-post {
  display: flex;
  gap: 18px;
}
.new-post-img {
  min-width: 70px;
}
.new-post-img img {
  width: 70px;
}
.new-post-date {
  display: block;
  font-size: 12px;
  color: #888888;
}
.new-post-heading a {
  color: #000;
}
.new-post-heading a:hover {
  color: #b59f5b;
}
.new-post-heading h4 {
  font-size: 14px;
}

/*FORM*/
/*search*/
.search {
  margin-bottom: 60px;
}
.search form {
  display: flex;
}
.search form label {
  width: 224px;
}
.search-field{
  width: 100%;
  height: 48px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 13px;
  border: 1px solid #f4f7f6;
  background-color:#f4f7f6;
}
.search-field:focus, .search-field:focus-visible {
  outline: none;
  border-color: #b59f5b;
}
.search-button{
  border: none;
  width: 48px;
  height: 48px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  background-color:#b59f5b;
  cursor: pointer;
}
.search-button:hover {
  background-color: #323232;
}

/*mailing*/
.mailing {
  margin-bottom: 60px;
}
.mailing-form {
  display: flex;
  flex-direction: column;
}
.mailing-group {
  width: 100%;
}
.mailing-field{
  width: 100%;
  height: 48px;
  margin-bottom: 16px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 13px;
  border: 1px solid #f4f7f6;
  background-color:#f4f7f6;
}
.mailing-field:focus, .mailing-field:focus-visible {
  outline: none;
  border-color: #b59f5b;
}
.mailing-button{
  border: none;
  height: 48px;
  background-color:#b59f5b;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.mailing-button:hover {
  background-color: #323232;
}

/*tags*/
.tags {
  margin-bottom: 60px;
}
.tags h3 {
  margin-bottom: 20px;
}
.tags-nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.tags-nav-item {
  display: block;
  padding: 5px 13px;
  border: 3px solid #eeeeee;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0f0d0e;
}
.tags-nav-item:hover {
  border-color: #b59f5b;
}

/*themes*/
.themes h3 {
  margin-bottom: 20px;
}
.themes-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.themes-nav-item {
  display: block;
  padding: 10px 0 13px 0;
  border-bottom: 1px solid #eeeeee;
  font-size: 14px;
  font-weight: bold;
}
.themes-nav-item a {
  color: #000;
}
.themes-nav-item a:hover {
  color: #b59f5b;
}
.thems-nav-first {
  padding-top: 0;
}
.themes-nav-item span {
  display: inline-block;
  vertical-align: super;
  padding-top: 0;
  color: #b59f5b;
  font-size: 12px;
}


/*FOOTER*/
.footer {
  margin: 0 auto;
  padding: 0 15px 40px 15px;
}
.footer-social {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  min-height: 84px;
  background: #f4f7f6;
}

.social-icon {
  display: block;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;
}
.social-icon-twitter {
  height: 20px;
  width: 25px;
  background-image: url(../images/004-twitter.svg);
  background-size: 25px;

}
.social-icon-pinterest {
  background-image: url(../images/001-pinterest.svg);
}
.social-icon-facebook {
  background-image: url(../images/002-facebook-logo.svg);
}
.social-icon-instagram {
  background-image: url(../images/005-instagram.svg);
}
.social-icon-tumblr {
  background-image: url(../images/003-tumblr.svg);
}

.footer-copyright {
  margin-top: 73px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.footer-copyright a {
  color: #999999;
}

/* media */
@media (min-width: 1200px) {
  .header-head, .header-heading, .container, .footer {
    width: 1200px;
  }
  .post-img {
    min-width: 381px;
  }
  .post-img img {
    max-width: 381px;
  }
}

@media (max-width: 1199px) {
  .header-nav {
    padding-right: 15px;
  }
  .header-heading h1 {
    font-size: 40px;
  }
  .post {
    flex-direction: column;
    border-bottom: 3px solid #eee;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
  }
  .header-head, .header-heading, .container, .footer {
    padding-right: 35px;
    padding-left: 35px;
  }
  .container {
    gap: 35px;
  }
  .burger {
    right: 35px;
  }
  .post {
    padding-bottom: 15px;
  }
  .post:nth-last-child(1) {
    border-bottom: none;
  }
  .post-header {
    margin-bottom: 35px;
  }
  .post-date {
    margin-bottom: 35px;
  }
}

@media (min-width: 769px) {
  .burger {
    display: none;
  }
}

@media (max-width: 768px) {
  .header-nav {
    display: none;
  }
}

@media (max-width: 640px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    min-height: 100vh;
      background-image: url(../images/banner-mobile.jpg);
  }
  .header-heading {
    margin-top: 45px;
  }
  .header-logo {
    width: 100%;
  }
  .header-logo img {
    width: 100%;
  }
  .header-heading h1 {
    font-size: 26px;
  }
  .container {
    flex-direction: column;
    gap: 45px;
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .posts {
    row-gap: 35px;
  }
  .post {
    gap: 25px;
    padding-bottom: 10px;
  }
  .post-header {
    margin-bottom: 25px;
  }
  .post-links {
    margin-bottom: 15px;
  }
  .post-date {
    margin-bottom: 25px;
  }
  .right-content {
    width: 100%;
  }
  .new-posts, .search, .mailing, .tags {
    margin-bottom: 45px;
  }
  .search form label {
    width: 100%;
  }
  .footer {
    padding-bottom: 50px;
  }
  .footer-copyright {
    margin-top: 50px;
  }
}